# Python is a high-level, general-purpose, interpreted programming language which was invented in 1991 by Guido Van Rossoum.

In [ ]:
# Python --version

In [ ]:
kFundamentals of Python
# (1). Data types
# (2). Variable
# (3). printf() and input()

In [ ]:
# (a). Integer
# Ex. a = 56, 78, -34
# (b). Float ===> All decimal values.
# (c). String ===> 'single_quotes'
# (d). Boolean
#Ex. 5>4 ==> true, 4<3 ===> False

In [ ]:
type() ===> using type(), we can check data type of element.

In [ ]:
print(type(45))
print(type(45.78))
print(type('45'))
print(type(5>4))

In [ ]:
Variable ===> This is a container in wchich we can store or assign our values

In [2]:
a = 45
b = 'sam'
c = 4>3 ### a,b,c = variable

In [ ]:
# input() ===> this is a pre-defined function of python in which it will take 
#query from a user and its output will be in string format.

In [3]:
a = '12'
type(a)

str

In [4]:
a = '12'
b = '34'
c=a+b
c

'1234'

In [5]:
a = input("enter first number")
b = input("enter second number")
c = a + b
c

enter first number12
enter second number34

'1234'

In [ ]:
# type-casting ===> using this method, we can convert one data type to another
# data type.

In [6]:
a = int(67.89)
a

67

In [7]:
a = int(input("enter first number:"))
b = int(input("enter second number:"))
c = a+b
c

enter first number:12
enter second number:34

46

In [8]:
#print() ===> it will execute our query on terminal.
print(45)
print('god')

45
god

In [11]:
# mostly used operators in python
# (1). addition(+) ==> 5+3 = 8
# (2). Subtraction(-) ==> 3-1 = 2
# (3). multiplication(*) == > 5*3 = 15
# 4 division(/) ==> 5/2 = 2.5
#(5). floor division(//) 5//2 = 1
#(6) module(%) ==> for remainder calculation ==> 25%10 = 5(remainder)
#(7). equal to(=) ==> for values assignment ===> a=5, b=10
# (8). equal equal to (==) ===> for values comparision ==> a == b , 4 == 5
# (9). not equal to(!=) 4!=5
# (10). greater than(>) == > 5>4
# (11). greater than or equal to (>=) ==> 5>=5
# (12). less than (<) ===> 3<4
# (13). less than or equal to(<=) ===> 3<=3

# conditional statement in python

In [12]:
#(1). if
#(2). elif
#(3). else

In [18]:
a = "jod"
if a == "jod":
    print("yes")
elif a == "dog":
    print("no")
elif a == "god":
    print("ok")
else:
    print("try again")

yes

In [17]:
a = input("enter your name:")
if a == "jod":
    print("yes")
elif a == "dog":
    print("no")
elif a == "god":
    print("ok")
else:
    print("try again")

enter your name:mofo
try again

In [25]:
a = int(input("Enter your age: "))
if 0 <= a <= 19:
    print("teenage")
elif 20 <= a <= 35:
    print("young")
elif 35 <= a <= 90:
    print("bhudda")
elif 90 <= a <= 200:
    print("G.O.A.T")
else:
    print("Please enter a valid age")

Enter your age: 111
G.O.A.T

# Nested Conditional Statement

In [31]:
a = int(input("Enter number: "))
if 0 <= a <= 30:
    print("Your RTO information:")
    if 18 <= a <= 100:
        if a == 19:
            print("You can drive")
            print("You won a scratch coupon")
        else:
            print("You can't drive, you dumbo")

Enter number: 19
Your RTO information:
You can drive
You won a scratch coupon

In [32]:
#method - 1
a = "jod"
for i in a:
    print(i)

j
o
d

In [34]:
a = "jod"
for i in a:
    print(i, end = " ")

j o d

In [35]:
a= "jod"
len(a)

3

In [36]:
for i in range(len(a)):
    print(a[i])

j
o
d

In [37]:
# method-3
# start_index_value(include) and last_index_value(exclude)
# for i in range(start, last, step_value): print(i)

In [41]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

# While loop

In [42]:
#(a). initialization
#(b). condition
#(c). Increment or decrement

In [43]:
# Q-1) write a program which prints from 1 to 3?

In [44]:
i=1   ##initailiztion
n=3
while(i<=n): ## condition
    print(i)
    i = i +1    ## increment

1
2
3

In [45]:
# step-1 (i = 1, n = 3)
#while(1<=3):
#    print(1)
#   i = 1+1 = 2


#step-2 (i=2, n =3)
# while(2<=3):
# print(2)
# i=3+1 = 4


# step-3 (i=3 , n=3)
#while(3<=3):
#print(3)
#i =3+1 = 4


# step-4 (i=4,n=3)
#while(4<=3):
#break

In [47]:
i=1
n=4
sum=0
while(i<=n):
    sum= sum+i
    i = i+1
    print(sum)

1
3
6
10

In [48]:
#  step-1 (i=1, n=4, sum =0)
# while(1<=4)
#  sum = 0+1 =1
# i= 1+1+=2

# step -2 (i=2, n=4, sum =1)
# while(2<=4):
#     sum=1+2=3
#     i= 2+1 = 3
    
#step -3 (i=3, n=4, sum=3)
# while(3<=4):
#     sum=3+3=6
#     i= 3+1=4

#step-4 (i=4, n=4, sum=6)
# while(4<=4):
#     sum=6+4=10
#     i= 4+1=5

# Final output ====> sum = 10

In [52]:
a = input("Enter a number: ")
odd = 0
even = 0

for digit in a:
    if int(digit) % 2 == 0:
        even += int(digit)
    else:
        odd += int(digit)

print("Sum of odd digits:", odd)
print("Sum of even digits:", even)

Enter a number: 2005
Sum of odd digits: 5
Sum of even digits: 2

In [54]:
i = 4

while i >= 1:
    print(i)
    i = i - 1

4
3
2
1

In [56]:
a = int(input("Enter a number: "))
reverse = 0

while a != 0:
    digit = a % 10
    reverse = reverse * 10 + digit
    a = a // 10

print("Reversed number:", reverse)

Enter a number: 2005
Reversed number: 5002